@media only screen and (max-width: 768px) {
    body, wrapper {
        background-color: black;
    }
}

@media only screen and (min-width: 1200px) {
    body, wrapper {
        background-color: red;
    }
}

@media only screen and (min-width:1500px) {
    body {
        background-color: orange, blue;
    }
}