.minwidth768 header.main {
    padding: 0 5%;
}

.minwidth768  header.main nav.main {
    position: absolute;
    display: block;
    top: 40px;
    right: 5%;
    z-index: 100;
}

.minwidth768  header.main h1, .minwidth768  header.main .spa_news_story h2, .minwidth768  .spa_news_story header.main h2, .minwidth768  header.main .spa_news_story #DtnLocation, .minwidth768  .spa_news_story header.main #DtnLocation, .minwidth768  header.main .spa_news_category_header_span, .minwidth768  header.main #DtnWeather #DtnCurrentTitle, .minwidth768  #DtnWeather header.main #DtnCurrentTitle {
    display: inline-block;
}

.minwidth768  header.main h1 img, .minwidth768  header.main .spa_news_story h2 img, .minwidth768  .spa_news_story header.main h2 img, .minwidth768  header.main .spa_news_story #DtnLocation img, .minwidth768  .spa_news_story header.main #DtnLocation img, .minwidth768  header.main .spa_news_category_header_span img, .minwidth768  header.main #DtnWeather #DtnCurrentTitle img, .minwidth768  #DtnWeather header.main #DtnCurrentTitle img {
    width: 175px;
    margin: 15px 0 -15px 0;
}

.minwidth768  nav.quicklinks {
    display: block;
    position: absolute;
    right: 5%;
    top: 15px;
    font-size: .625em;
}

.minwidth768  /* MENU STYLES */ .sf-menu > li {
    display: inline-block;
    list-style: none;
}

.minwidth768  .sf-menu > li > a {
    color: #7f7f7f;
}

.minwidth768  .sf-menu > li > span {
    background: url(/content/images/menu_bg.png) no-repeat right 48%;
}

.minwidth768  .sf-menu > li:hover, .minwidth768  .sf-menu > li.sfHover {
    outline: 0;
}

.minwidth768  .sf-menu > li:hover > span, .minwidth768  .sf-menu > li:hover > a, .minwidth768  .sf-menu > li.sfHover > span, .minwidth768  .sf-menu > li.sfHover > a {
    background: #7ca6cc;
    text-decoration: none;
    color: white;
}

.minwidth768  .sf-menu li {
    position: relative;
}

.minwidth768  .sf-menu li:hover ul, .minwidth768  .sf-menu li.sfHover ul {
    left: 0;
    top: 100%; /* match top ul list item height */
    z-index: 99;
}

.minwidth768  .sf-menu a, .minwidth768  .sf-menu span {
    font-size: .675em;
    padding: .75em .55em;
    display: block;
}

.minwidth768  .sf-menu .sfHover > a, .minwidth768  .sf-menu .sfHover > span {
    background: #7ca6cc;
    text-decoration: underline;
    color: white;
}

.minwidth768  .sf-menu span {
    cursor: default;
}

.minwidth768  .sf-menu span:hover {
    color: white;
}

.minwidth768  .sf-submenu {
    position: absolute;
    top: -999em;
    width: 100%;
    padding-left: 0;
}

.minwidth768  .sf-submenu li {
    width: 100%;
    background: #0053a0;
    background: rgba(0, 83, 160, 0.75);
    list-style: none;
    border-bottom: 2px solid #7ca6cc;
}

.minwidth768  .sf-submenu li:last-child {
    border-bottom: 0;
}

.minwidth768  .sf-submenu li:hover {
    background: #0053a0;
    background: rgba(0, 83, 160, 0.95);
}

.minwidth768  .sf-submenu li a {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}

.minwidth768  body:before {
    content: ' ';
    display: block;
    height: 1px;
    margin-top: -1px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}

.minwidth768  .mobile_menu_button {
    display: none;
}

.minwidth768  #slider {
    -webkit-box-shadow: 0 1px 10px black;
    -moz-box-shadow: 0 1px 10px black;
    box-shadow: 0 1px 10px black;
    overflow: hidden;
}

.minwidth768  #slider article {
    position: absolute;
    top: 0;
}

.minwidth768  #slider article aside {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 10px 40px 10px 40px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: .875em;
}

.minwidth768 .jshowoff-slidelinks {
    display: block;
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: 1000;
}

.minwidth768 .jshowoff-slidelinks a {
    display: inline-block;
    height: 40px;
    width: 80px;
    margin-right: 15px;
    border: 3px solid #bfbfbf;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

.minwidth768 .jshowoff-slidelinks a img {
    width: 100px;
    height: 100%;
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.minwidth768 .jshowoff-slidelinks a.jshowoff-active, .minwidth768 .jshowoff-slidelinks a:hover {
    border-color: white;
}

.minwidth768 .jshowoff-slidelinks a.jshowoff-active img, .minwidth768 .jshowoff-slidelinks a:hover img {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.minwidth768  .mission {
    margin: 1.5em 0;
    padding: 1em;
}

.minwidth768  .main_content {
    padding: 0 5%;
}

.minwidth768  .welcome {
    border: 1px solid #c5d1dc;
}

.minwidth768  .news {
    *zoom: 1;
    padding: 0;
    border: 1px solid #c5d1dc;
}

.minwidth768  .news:before, .minwidth768  .news:after {
    display: table;
    content: "";
}

.minwidth768  .news:after {
    clear: both;
}

.minwidth768  .news h2, .minwidth768  .news #DtnLocation {
    display: none;
}

.minwidth768  .news #openTabs {
    display: block !important;
    float: none;
    width: 100%;
    margin-top: 0;
}

.minwidth768  .news #openTabs span {
    display: none;
}

.minwidth768  .news nav.newstabs {
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    border: 0;
}

.minwidth768  .news nav.newstabs a {
    display: inline-block;
    width: 25%;
    font-family: "ff-meta-serif-web-pro", Cambria, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    padding: 20px 0 13px 0;
    border-bottom: 7px solid #0053a0;
    text-decoration: none;
}

.minwidth768  .news nav.newstabs a:hover {
    text-decoration: none;
}

.minwidth768  .news nav.newstabs a:first-child, .minwidth768  .news nav.newstabs a:last-child {
    padding: 20px 0 13px 0;
}

.minwidth768  .news nav.newstabs a.selected_tab {
    background: #0053a0 url(/content/images/selected_tab.png) no-repeat bottom center;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 0;
}

.minwidth768  .news > section {
    padding: 5%;
}

.minwidth768  .news .spa_news_stories_container {
    margin-bottom: 0;
}

.minwidth768  .news .spa_news_category_container {
    float: left;
    width: 47.5%;
}

.minwidth768  .news .spa_news_category_container:first-of-type {
    margin-right: 5%;
}

.minwidth768  .testimonial, .minwidth768  .ecomm_signup.mobile {
    display: none;
}

.minwidth768  #testimonial_ecomm_wrapper, .minwidth768  .subpage {
    display: block;
    padding: 0;
    margin-bottom: 5%;
    background: transparent;
}

.minwidth768  #testimonial_ecomm_wrapper .testimonial, .minwidth768  #testimonial_ecomm_wrapper .ecomm_signup, .minwidth768  .subpage .testimonial, .minwidth768  .subpage .ecomm_signup {
    width: 47.5%;
    height: 100%;
    padding: 5%;
}

.minwidth768  #testimonial_ecomm_wrapper .testimonial, .minwidth768  .subpage .testimonial {
    width: 52.5%;
    border-right: 5%;
    padding: 0;
    background-color: transparent;
}

.minwidth768  #testimonial_ecomm_wrapper .testimonial > div, .minwidth768  .subpage .testimonial > div {
    padding: 10%;
    margin-right: 10%;
    background: white;
    border: 1px solid #c5d1dc;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup a, .minwidth768  .subpage .ecomm_signup a {
    display: block;
    background: url(/content/images/ecomm-smaller.png) no-repeat right top;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup aside, .minwidth768  .subpage .ecomm_signup aside {
    margin-bottom: .75em;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup .extended_signup, .minwidth768  .subpage .ecomm_signup .extended_signup {
    display: block;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup div, .minwidth768  .subpage .ecomm_signup div {
    float: left;
    width: 55%;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup div:first-child, .minwidth768  .subpage .ecomm_signup div:first-child {
    width: 40%;
    margin-right: 5%;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup label, .minwidth768  .subpage .ecomm_signup label {
    color: white;
    font-size: .875em;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup input[type='text'], .minwidth768  .subpage .ecomm_signup input[type='text'] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.minwidth768  #testimonial_ecomm_wrapper .ecomm_signup input[type='button'], .minwidth768  .subpage .ecomm_signup input[type='button'] {
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    color: #0053a0;
    font-size: .875em;
    padding: .25em 1em;
}

.minwidth768  #testimonial_ecomm_wrapper {
    *zoom: 1;
}

.minwidth768  #testimonial_ecomm_wrapper:before, .minwidth768  #testimonial_ecomm_wrapper:after {
    display: table;
    content: "";
}

.minwidth768  #testimonial_ecomm_wrapper:after {
    clear: both;
}

.minwidth768  #testimonial_ecomm_wrapper .testimonial, .minwidth768  #testimonial_ecomm_wrapper .ecomm_signup.not_mobile {
    display: block;
    float: left;
}

.minwidth768  footer.main nav {
    width: auto;
    margin-bottom: 1em;
    text-align: center;
}

.minwidth768  footer.main nav div {
    display: inline-block;
}

.minwidth768  footer.main nav div:last-child {
    display: none;
}

.minwidth768  footer.main nav a {
    width: 70px;
    padding-top: 75px;
    text-indent: 0;
    text-align: center;
    background-position: 50% top;
}

.minwidth768  /* CONTENT IMAGES */ .portrait_left_small, .minwidth768  .landscape_left_small, .minwidth768  .portrait_left_medium, .minwidth768  .landscape_left_medium, .minwidth768  .portrait_left_large, .minwidth768  .landscape_left_large {
    float: left;
    margin: 0 10px 10px 0;
}

.minwidth768  .portrait_right_small, .minwidth768  .landscape_right_small, .minwidth768  .portrait_right_medium, .minwidth768  .landscape_right_medium, .minwidth768  .portrait_right_large, .minwidth768  .landscape_right_large {
    float: right;
    margin: 0 0 10px 10px;
}

.minwidth768  .portrait_right_small, .minwidth768  .portrait_left_small, .minwidth768  .landscape_right_small, .minwidth768  .landscape_left_small {
    width: 25%;
}

.minwidth768  .portrait_right_medium, .minwidth768  .portrait_left_medium, .minwidth768  .landscape_right_medium, .minwidth768  .landscape_left_medium {
    width: 50%;
}

.minwidth768  .portrait_right_large, .minwidth768  .portrait_left_large, .minwidth768  .landscape_right_large, .minwidth768  .landscape_left_large {
    width: 75%;
}

.minwidth768  /* SUBPAGE STYLES */ .subpage {
    display: block;
    margin-bottom: 0;
}

.minwidth768  .subpage .news {
    position: relative;
    width: 47.5%;
}

.minwidth768  .subpage .news .news_header::before, .minwidth768  .subpage .news .news_header::after {
    display: none;
}

.minwidth768  .subpage .news h2, .minwidth768  .subpage .news #DtnLocation {
    float: none;
    display: block;
    margin-bottom: 0;
    padding: 5% 0 0 5%;
}

.minwidth768  .subpage .news #openTabs {
    position: absolute;
    display: inline-block;
    width: auto;
    top: 3.5%;
    right: 5%;
}

.minwidth768  .subpage .news #openTabs span {
    display: inline-block;
}

.minwidth768  .subpage .news nav.subpage_newstabs {
    top: 1em;
    right: 8%;
}

.minwidth768  .subpage .news .spa_news_category_container {
    float: none;
    width: 100%;
    margin-right: 0;
}

.minwidth768  .subpage .main_content .welcome {
    display: block;
}

.minwidth768  .subpage .ecomm_signup.mobile {
    display: block;
    float: right;
    width: 47.5%;
    padding: 2.5%;
}

.minwidth768  .subpage .ecomm_signup.mobile .extended_signup {
    display: block;
}

.minwidth768  .spa_news_category_div {
    margin-bottom: -2em;
}

.minwidth768  #slider.mast img {
    margin-top: 0;
    margin-bottom: -10%;
}

.minwidth768  /* MESSAGING PAGE */ .login_wrapper {
    float: left;
}

.minwidth768  #btnNew {
    float: left;
}

.minwidth768  .messaging_wrapper {
    *zoom: 1;
}

.minwidth768  .messaging_wrapper:before, .minwidth768  .messaging_wrapper:after {
    display: table;
    content: "";
}

.minwidth768  .messaging_wrapper:after {
    clear: both;
}

.minwidth768  #UPMessaging {
    float: left;
    display: block;
    width: 47.5%;
}

.minwidth768  #prefs_wrapper {
    float: right;
    width: 47.5%;
}

.minwidth768  /* NEWS */ .authorbox table {
    width: auto;
}

.minwidth768  .authorbox td {
    display: table-cell;
    text-align: left;
}

.minwidth768  .authorbox td:first-child {
    padding-right: 15px;
}

.minwidth768  .authorbox td:nth-child(2) {
    vertical-align: bottom;
}

.minwidth768  .authorbox img {
    margin-bottom: 0 !important;
}

.minwidth768  /* DTN WEATHER */ #DtnCurrentConditions, .minwidth768  #DtnRadar {
    float: left;
    width: 50%;
}

.minwidth768  #DtnGraphic {
    width: 25%;
    margin: auto;
    margin-bottom: 25px;
}

.minwidth768  #DtnForecast table {
    display: block;
}

.minwidth768  #DtnForecast table tbody {
    display: block;
    width: 100%;
}

.minwidth768  #DtnForecast table tbody tr {
    width: 100%;
}

.minwidth768  #DtnForecast table tbody td {
    text-align: center;
}

.minwidth768  #DtnForecast table tbody td:nth-child(1) {
    font-weight: bold;
    text-align: left;
}

.minwidth768  #DtnForecast .DtnForecastDays td {
    font-weight: bold;
}

.minwidth768  #DtnForecast .mobileForecastDay {
    display: none;
}

.minwidth768  /* PERSONNEL */ .profiles_wrapper {
    text-align: left;
    padding-left: -moz-calc((100% -460px) / 2 );
    padding-left: -webkit-calc((100% -460px) / 2 );
    padding-left: calc((100% -460px) / 2 );
}

.minwidth768  .oldie .profiles_wrapper {
    text-align: center;
}

.minwidth768  .individualProfileDivStyle {
    max-width: 200px;
}

.minwidth864 header.main nav.main .sf-menu a, .minwidth864  header.main nav.main .sf-menu span {
    padding: .75em 1em;
}

.minwidth992 body {
    font-size: 100%;
}

.minwidth992  header.main {
    padding: 0 3%;
}

.minwidth992  header.main h1 img, .minwidth992  header.main .spa_news_story h2 img, .minwidth992  .spa_news_story header.main h2 img, .minwidth992  header.main .spa_news_story #DtnLocation img, .minwidth992  .spa_news_story header.main #DtnLocation img, .minwidth992  header.main .spa_news_category_header_span img, .minwidth992  header.main #DtnWeather #DtnCurrentTitle img, .minwidth992  #DtnWeather header.main #DtnCurrentTitle img {
    width: 300px;
}

.minwidth992  header.main nav.main {
    right: 3%;
    top: 88px;
}

.minwidth992  header.main nav.main .sf-menu a, .minwidth992  header.main nav.main .sf-menu span {
    font-size: .9125em;
    padding: .5em .75em;
}

.minwidth992  nav.quicklinks {
    font-size: .875em;
    right: 3%;
}

.minwidth992  #slider article aside {
    font-size: 1.375em;
}

.minwidth992 .jshowoff-slidelinks a {
    height: 46px;
    width: 100px;
    margin-right: 30px;
}

.minwidth992 .jshowoff-slidelinks a img {
    width: 100px;
}

.minwidth992  .mission {
    font-size: 1.375em;
    margin: 3% 0;
}

.minwidth992  .main_content {
    *zoom: 1;
    padding: 0 3%;
}

.minwidth992  .main_content:before, .minwidth992  .main_content:after {
    display: table;
    content: "";
}

.minwidth992  .main_content:after {
    clear: both;
}

.minwidth992  .main_content .welcome, .minwidth992  .main_content .testimonial {
    padding: 3%;
}

.minwidth992  .main_content .welcome_testimonial_wrapper {
    display: table;
    margin-bottom: 3%;
}

.minwidth992  .main_content .welcome {
    padding-top: 3%;
    display: table-cell;
    width: 63.666666666667%;
}

.minwidth992  .main_content .testimonial {
    display: table-cell;
    width: 36.3333333333333%;
    padding: 0;
    background: transparent;
    vertical-align: middle;
}

.minwidth992  .main_content .testimonial > div {
    *zoom: 1;
    display: block;
    width: 92%;
    height: 100%;
    margin-left: 8%;
    padding: 8%;
    background: white;
    border: 1px solid #c5d1dc;
}

.minwidth992  .main_content .testimonial > div:before, .minwidth992  .main_content .testimonial > div:after {
    display: table;
    content: "";
}

.minwidth992  .main_content .testimonial > div:after {
    clear: both;
}

.minwidth992  .main_content .news {
    float: left;
    width: 63.6666666667%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.minwidth992  .main_content .news nav.newstabs {
    font-size: 1.125em;
}

.minwidth992  #testimonial_ecomm_wrapper {
    float: left;
    width: 33.33333333333333%;
}

.minwidth992  #testimonial_ecomm_wrapper .testimonial {
    display: none;
}

.minwidth992  #testimonial_ecomm_wrapper .ecomm_signup {
    width: 100%;
    padding: 8%;
}

.minwidth992  #testimonial_ecomm_wrapper .ecomm_signup aside {
    font-size: .875em;
}

.minwidth992  footer.main {
    padding: 2%;
}

.minwidth992  /* SUBPAGE STYLES */ .subpage .main_content {
    margin-top: 3%;
    margin-bottom: 3%;
}

.minwidth992  .subpage .main_content .welcome {
    float: left;
    width: 65.6666666666667%;
}

.minwidth992  .subpage .main_content .sidebar {
    float: right;
    width: 31.333333333333%;
}

.minwidth992  .subpage .main_content .sidebar .news {
    float: none;
    width: 100%;
    margin-bottom: 10%;
}

.minwidth992  .subpage .main_content .sidebar .ecomm_signup {
    display: none;
    float: none;
    width: 100%;
    padding: 5%;
}

.minwidth992  .subpage .main_content .sidebar .ecomm_signup.not_mobile {
    display: block;
}

.minwidth992  .profiles_wrapper {
    text-align: left;
    padding-left: -moz-calc((100% -690px) / 2 );
    padding-left: -webkit-calc((100% -690px) / 2 );
    padding-left: calc((100% -690px) / 2 );
}

.minwidth992  .individualProfileDivStyle {
    width: -moz-calc(33.333333333333% -30px);
    width: -webkit-calc(33.333333333333% -30px);
    width: calc(33.333333333333% -30px);
}