/*
  ---- ---- ---- ---- VARIABLES ---- ---- ---- ----
*/
/*
  ---- ---- ---- ---- MIXINS ---- ---- ---- ----
*/
/*
  ---- ---- ---- ---- RESET STYLESHEET ---- ---- ---- ----
*/
html, body {
    margin: 0;
    padding: 0; }

h1, .spa_news_story h2, .spa_news_story #DtnLocation, .spa_news_category_header_span, #DtnWeather #DtnCurrentTitle, h2, #DtnLocation, h3, #DtnForecastTitle, .mobileForecastDay h1, .mobileForecastDay .spa_news_story h2, .spa_news_story .mobileForecastDay h2, .mobileForecastDay .spa_news_story #DtnLocation, .spa_news_story .mobileForecastDay #DtnLocation, .mobileForecastDay .spa_news_category_header_span, .mobileForecastDay #DtnWeather #DtnCurrentTitle, #DtnWeather .mobileForecastDay #DtnCurrentTitle, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1.2;
    font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block; }

audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/*
  ---- ---- ---- ---- FONT-FACE DECLARATIONS ---- ---- ---- ----
*/
/*
  ---- ---- ---- ---- ALL VIEWPORTS AND SIZES ---- ---- ---- ----
*/
/* BODY */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
    width: 100%;
    height: 100%;
    background: white;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }

body {
    width: 100%;
    min-height: 100%;
    background: transparent;
    font-family: "source-sans-pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 125%;
    line-height: 1.2em;
    color: #7f7f7f; }

/* TYPOGRAPHY */
h1, .spa_news_story h2, .spa_news_story #DtnLocation, .spa_news_category_header_span, #DtnWeather #DtnCurrentTitle,
h2,
#DtnLocation,
h3,
#DtnForecastTitle,
.mobileForecastDay h1,
.mobileForecastDay .spa_news_story h2,
.spa_news_story .mobileForecastDay h2,
.mobileForecastDay .spa_news_story #DtnLocation,
.spa_news_story .mobileForecastDay #DtnLocation,
.mobileForecastDay .spa_news_category_header_span,
.mobileForecastDay #DtnWeather #DtnCurrentTitle,
#DtnWeather .mobileForecastDay #DtnCurrentTitle,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "ff-meta-serif-web-pro", Cambria, Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #0053a0;
    line-height: 1.35em;
    text-rendering: optimizeLegibility; }

h1, .spa_news_story h2, .spa_news_story #DtnLocation, .spa_news_category_header_span, #DtnWeather #DtnCurrentTitle,
.h1 {
    margin-bottom: 0.8em;
    font-size: 2em; }

h2, #DtnLocation,
.h2 {
    margin-bottom: 0.8em;
    font-size: 1.5em;
    font-weight: 600; }

h3, #DtnForecastTitle, .mobileForecastDay h1, .mobileForecastDay .spa_news_story h2, .spa_news_story .mobileForecastDay h2, .mobileForecastDay .spa_news_story #DtnLocation, .spa_news_story .mobileForecastDay #DtnLocation, .mobileForecastDay .spa_news_category_header_span, .mobileForecastDay #DtnWeather #DtnCurrentTitle, #DtnWeather .mobileForecastDay #DtnCurrentTitle,
.h3 {
    margin-bottom: 0.68571em;
    font-size: 1.25em; }

h4,
.h4 {
    margin-bottom: 0.68571em;
    font-size: 1.125em; }

h5,
.h5 {
    margin-bottom: 0.6em;
    font-size: 1em; }

h6,
.h6 {
    margin-bottom: 0.6em;
    font-size: 1em;
    font-weight: normal; }

p,
ol,
ul,
dl,
address {
    margin-bottom: 1.2em;
    line-height: 1.44em; }

small {
    font-size: .875em; }

ul,
ol {
    padding: 0 0 0 20px; }

blockquote {
    margin: 0 20px 1.2em 15px;
    border-left: 5px solid #bfbfbf;
    font-family: "ff-meta-serif-web-pro", Cambria, Georgia, Times, "Times New Roman", serif;
    font-style: italic; }

dl,
dd {
    margin-bottom: 1.2em; }

dt {
    font-weight: bold; }

b,
strong {
    font-weight: bold; }
b a,
strong a {
    font-weight: bold; }

strong em,
b em,
em strong,
em b {
    font-weight: bold;
    font-style: italic; }

dfn,
em {
    font-style: italic; }

ins {
    background-color: #e6e6e6;
    color: red;
    text-decoration: none; }

mark {
    background-color: #e6e6e6;
    color: red;
    font-style: italic;
    font-weight: bold; }

pre,
code,
kdb,
samp {
    padding: 5px;
    background-color: #e6e6e6;
    font-family: Monaco, Courier New, monospace;
    font-size: .875em; }

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }

sub,
sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: 1.2em; }

sup {
    top: -.5em; }

sub {
    bottom: -.25em; }

/* LINKS */
a {
    color: #0053a0;
    text-decoration: none;
    cursor: pointer; }
a:hover {
    color: #00407c;
    text-decoration: underline;
    border: 0;
    outline: 0; }
a:visited {
    color: #002e59; }
a:focus, a:active {
    color: #001b35;
    border: 0;
    outline: 0; }
a img {
    border: 0;
    outline: 0; }

/* SELECTION */
::-moz-selection {
    background-color: gray;
    color: white;
    text-shadow: none; }

::selection {
    background-color: gray;
    color: white;
    text-shadow: none; }

/* ELEMENTS */
hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    background-color: #bfbfbf; }

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic; }

figure {
    margin-bottom: 1.2em; }

figcaption {
    display: block;
    margin: 0 0 1.2em 0;
    padding: 0;
    font-weight: normal; }

/* FORMS */
label {
    font-size: .875em;
    color: #404040; }

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
select,
textarea,
.textbox {
    display: block;
    width: 100%;
    max-width: 768px;
    padding: 5px;
    margin-bottom: 1.2em;
    background-color: white;
    border: 1px solid #bfbfbf;
    color: gray;
    font-size: .875em; }
input[type="text"]:active, input[type="text"]:focus,
input[type="date"]:active,
input[type="date"]:focus,
input[type="time"]:active,
input[type="time"]:focus,
input[type="datetime"]:active,
input[type="datetime"]:focus,
input[type="datetime-local"]:active,
input[type="datetime-local"]:focus,
input[type="url"]:active,
input[type="url"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
input[type="search"]:active,
input[type="search"]:focus,
input[type="file"]:active,
input[type="file"]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus,
.textbox:active,
.textbox:focus {
    outline: none;
    border-color: gray; }

input[type="checkbox"],
input[type="radio"] {
    margin: 3px 0;
    padding: 0;
    *width: 13px;
    *height: 13px; }

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
.read_more a {
    width: auto;
    height: auto;
    padding: .25em 1em;
    margin: .125em;
    background-color: gray;
    border: 1px solid #666666;
    color: white;
    font-size: .875em;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

input[type="hidden"] {
    display: none; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    cursor: not-allowed; }

::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: #bfbfbf;
    font-size: .875em; }

/* BUTTON SIZES */
.button-xl {
    padding: .875em 1.75em;
    font-size: 1.25em;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

.button-lg {
    padding: .5em 1em;
    font-size: 1em;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

.button-med {
    padding: .375em .75em;
    font-size: .875em;
    line-height: 1em;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

.button-xs {
    padding: .25em .5em;
    font-size: .75em;
    line-height: .875em;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

/* TABLES */
table {
    height: 100%;
    width: 100%;
    margin-bottom: 0.6em;
    background-color: transparent;
    border-spacing: 0; }

th,
td {
    padding: 0 .5em;
    vertical-align: middle;
    border-top: 0 solid #bfbfbf;
    line-height: 1.2em;
    text-align: left;
    font-size: .875em; }

th {
    font-weight: bold; }

thead th {
    vertical-align: bottom; }

thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
    border-top: 0; }

tbody tr td,
tbody tr th {
    -webkit-transition: background-color 0.25s 0 ease;
    -moz-transition: background-color 0.25s 0 ease;
    -ms-transition: background-color 0.25s 0 ease;
    -o-transition: background-color 0.25s 0 ease;
    transition: background-color 0.25s 0 ease; }

tbody tr:hover td,
tbody tr:hover th {
    background-color: transparent; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #e6e6e6; }

.warning, .smsnote, .invalidPwd {
    color: red;
    font-size: .875em; }

/* PAGE LAYOUT */
body,
body.subpage {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, white, #e5e5e5);
    background-color: #e5e5e5;
    background-image: -moz-linear-gradient(top, white, #e5e5e5);
    background-image: -ms-linear-gradient(top, white, #e5e5e5);
    background-image: -o-linear-gradient(top, white, #e5e5e5);
    background-image: linear-gradient(top, white, #e5e5e5);
    background-repeat: repeat-x; }

.ie9 .blueBackground,
.ie9 body,
.ie9 footer.main nav a {
    filter: none; }
.ie9 .blueBackground:hover,
.ie9 body:hover,
.ie9 footer.main nav a:hover {
    filter: none; }

#wrapper {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto; }

.ie7 #wrapper, .ie8 #wrapper {
    max-width: 600px; }

.mobile_menu_button {
    width: 100%;
    padding: 10px;
    background: #0053a0;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwM2U3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUzYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0053a0), color-stop(50%, #003e78), color-stop(100%, #0053a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0053a0', endColorstr='#0053a0',GradientType=0 );
    /* IE6-8 */
    color: white;
    font-weight: bold;
    cursor: pointer; }
.mobile_menu_button:hover {
    background: #296499;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NjQ5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwNTNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTY0OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #296499), color-stop(50%, #0053a0), color-stop(100%, #296499));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #296499 0%, #0053a0 50%, #296499 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#296499', endColorstr='#296499',GradientType=0 );
    /* IE6-8 */ }
.mobile_menu_button span {
    display: inline-block;
    padding-right: 13px;
    background: url(/content/images/plus-icon.png) no-repeat 100% 50%; }
.mobile_menu_button span.openMenu {
    background-image: url(/content/images/minus-icon.png); }

nav.quicklinks {
    display: none; }

.mobileNav {
    display: none;
    position: absolute;
    top: 39px;
    width: 100%;
    background: #0053a0;
    background: rgba(0, 83, 160, 0.95);
    z-index: 10; }
.mobileNav span,
.mobileNav a {
    display: inline-block;
    color: white;
    padding: .5em; }
.mobileNav span {
    padding-right: 13px;
    background: url(/content/images/plus-icon.png) no-repeat 100% 50%;
    cursor: default; }
.mobileNav span.openSubmenu {
    background-image: url(/content/images/minus-icon.png); }
.mobileNav li {
    list-style: none; }

.sf-menu {
    margin-bottom: 0;
    padding-left: 0; }

.sf-submenu {
    display: none;
    margin-bottom: 0; }

nav.main {
    display: none; }

header.main {
    position: relative; }
header.main h1, header.main .spa_news_story h2, .spa_news_story header.main h2, header.main .spa_news_story #DtnLocation, .spa_news_story header.main #DtnLocation, header.main .spa_news_category_header_span, header.main #DtnWeather #DtnCurrentTitle, #DtnWeather header.main #DtnCurrentTitle {
    margin-bottom: 0; }
header.main h1 img, header.main .spa_news_story h2 img, .spa_news_story header.main h2 img, header.main .spa_news_story #DtnLocation img, .spa_news_story header.main #DtnLocation img, header.main .spa_news_category_header_span img, header.main #DtnWeather #DtnCurrentTitle img, #DtnWeather header.main #DtnCurrentTitle img {
    position: relative;
    display: block;
    width: 250px;
    margin: 10px auto -20px auto;
    z-index: 2; }

#slider {
    position: relative;
    z-index: 1; }
#slider article img {
    width: 100%; }
#slider article aside {
    padding-top: 10px;
    text-align: center; }
#slider article aside a {
    text-transform: uppercase;
    font-weight: bold; }

.jshowoff {
    position: relative; }
.jshowoff:hover .jshowoff-controls-inner {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; }

.jshowoff-controls-inner {
    position: absolute;
    top: 40%;
    width: 100%;
    padding: 10px;
    z-index: 3;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    *zoom: 1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.jshowoff-controls-inner:before, .jshowoff-controls-inner:after {
    display: table;
    content: ""; }
.jshowoff-controls-inner:after {
    clear: both; }
.jshowoff-controls-inner a {
    display: inline-block;
    width: 30px;
    height: 30px; }
.jshowoff-controls-inner a.jshowoff-play {
    display: none; }
.jshowoff-controls-inner a.jshowoff-prev {
    background: url(/content/images/slider_arrows.png) no-repeat 0 0; }
.jshowoff-controls-inner a.jshowoff-prev:hover {
    background-position: 0 -30px; }
.jshowoff-controls-inner a.jshowoff-next {
    float: right;
    background: url(/content/images/slider_arrows.png) no-repeat -30px 0; }
.jshowoff-controls-inner a.jshowoff-next:hover {
    background-position: -30px -30px; }

.jshowoff-slidelinks {
    display: none; }

.touch .jshowoff-controls-inner {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; }

.mission {
    margin: 4em 0 1.5em 0;
    padding: 5%;
    background: url(/content/images/mission-texture.jpg) repeat left top;
    text-align: center;
    text-size: 1.5em;
    font-weight: bold; }

.main_content .welcome,
.main_content .testimonial,
.main_content .ecomm_signup.mobile {
    padding: 5%;
    margin-bottom: 5%;
    background-color: white; }
.main_content .welcome h2, .main_content .welcome #DtnLocation,
.main_content .testimonial h2,
.main_content .testimonial #DtnLocation,
.main_content .ecomm_signup.mobile h2,
.main_content .ecomm_signup.mobile #DtnLocation {
    margin-bottom: 16px; }

.welcome {
    padding-top: 0; }
.welcome h1, .welcome .spa_news_story h2, .spa_news_story .welcome h2, .welcome .spa_news_story #DtnLocation, .spa_news_story .welcome #DtnLocation, .welcome .spa_news_category_header_span, .welcome #DtnWeather #DtnCurrentTitle, #DtnWeather .welcome #DtnCurrentTitle {
    margin-bottom: .25em; }
.welcome img {
    display: block;
    margin-bottom: 1em; }

.testimonial {
    *zoom: 1; }
.testimonial:before, .testimonial:after {
    display: table;
    content: ""; }
.testimonial:after {
    clear: both; }
.testimonial * {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
.testimonial img {
    float: left;
    margin: 0 10px 10px 0; }

.ecomm_signup.mobile,
.ecomm_signup.not_mobile {
    background: #0053a0;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwM2U3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUzYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0053a0), color-stop(50%, #003e78), color-stop(100%, #0053a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0053a0', endColorstr='#0053a0',GradientType=0 );
    /* IE6-8 */
    -webkit-box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, 0.5); }
.ecomm_signup.mobile a,
.ecomm_signup.not_mobile a {
    display: block;
    background: url(/content/images/ecomm-small.png) no-repeat top right;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    font-family: "ff-meta-serif-web-pro", Cambria, Georgia, Times, "Times New Roman", serif; }
.ecomm_signup.mobile aside,
.ecomm_signup.not_mobile aside {
    margin-top: .65em;
    font-size: .75em;
    color: white; }
.ecomm_signup.mobile .extended_signup,
.ecomm_signup.not_mobile .extended_signup {
    display: none; }

.news {
    position: relative;
    padding: 5%;
    background: white;
    margin-bottom: 5%; }
.news .news_header {
    *zoom: 1; }
.news .news_header:before, .news .news_header:after {
    display: table;
    content: ""; }
.news .news_header:after {
    clear: both; }
.news h2, .news #DtnLocation {
    float: left; }
.news #openTabs {
    position: relative;
    float: right;
    width: auto;
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #0053a0;
    font-weight: bold;
    white-space: nowrap; }
.news #openTabs span {
    padding-right: 13px;
    background: url(/content/images/plus-icon-blue.png) no-repeat 100% 50%;
    cursor: default; }
.news #openTabs span.openMenu {
    background-image: url(/content/images/minus-icon-blue.png); }
.news nav.newstabs,
.news nav.subpage_newstabs {
    position: absolute;
    display: none;
    right: 20px;
    top: 1em;
    background: white;
    border: 1px solid grey; }
.news nav.newstabs a,
.news nav.subpage_newstabs a {
    display: block;
    padding: 5px 10px; }
.news nav.newstabs a:first-child,
.news nav.subpage_newstabs a:first-child {
    padding-top: 10px; }
.news nav.newstabs a:last-child,
.news nav.subpage_newstabs a:last-child {
    padding-bottom: 10px; }
.news > section {
    display: none; }
.news #latestNews {
    display: block; }
.news .spa_news_category_header_div {
    display: none; }
.news .spa_news_stories_container {
    margin-bottom: -2em; }
.news .spa_news_category_container:first-child {
    margin-bottom: 3em; }
.news .spa_news_category_image {
    text-align: center; }
.news .spa_news_category_image img {
    width: 100%;
    max-width: 350px;
    max-height: 250px; }
.news .spa_news_category_link {
    display: block;
    margin: 1em 0 .5em 0;
    text-transform: uppercase;
    font-weight: bold; }
.news .spa_news_category_date {
    font-size: .875em;
    font-style: italic; }
.news .spa_news_category_teaser {
    margin: .5em 0; }

.read_more {
    clear: both;
    text-align: right; }
.read_more a:hover {
    text-decoration: none; }

#testimonial_ecomm_wrapper {
    display: none; }

footer.main {
    background-color: white;
    padding: 5%; }
footer.main nav {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    *zoom: 1; }
footer.main nav:before, footer.main nav:after {
    display: table;
    content: ""; }
footer.main nav:after {
    clear: both; }
footer.main nav div {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 15px 30px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #0053a0;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwM2U3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUzYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0053a0), color-stop(50%, #003e78), color-stop(100%, #0053a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0053a0', endColorstr='#0053a0',GradientType=0 );
    /* IE6-8 */ }
footer.main nav div:hover {
    background: #296499;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NjQ5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwNTNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTY0OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #296499), color-stop(50%, #0053a0), color-stop(100%, #296499));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #296499 0%, #0053a0 50%, #296499 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #296499 0%, #0053a0 50%, #296499 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#296499', endColorstr='#296499',GradientType=0 );
    /* IE6-8 */ }
footer.main nav a {
    display: inline-block;
    height: 70px;
    width: 70px;
    text-indent: -10000px; }
footer.main nav a:visited {
    color: #0053a0; }
footer.main nav a:hover {
    color: #0053a0;
    text-decoration: none; }
footer.main nav a.home_link {
    background: url(/content/images/home.png) no-repeat left top; }
footer.main nav a.news_link {
    background: url(/content/images/news.png) no-repeat left top; }
footer.main nav a.markets_link {
    background: url(/content/images/markets.png) no-repeat left top; }
footer.main nav a.weather_link {
    background: url(/content/images/weather.png) no-repeat left top; }
footer.main nav a.ecomm_link {
    background: url(/content/images/ecomm.png) no-repeat left top; }
footer.main nav a.phone_link {
    background: url(/content/images/phone.png) no-repeat left top; }

.copyright {
    font-size: .75em;
    text-align: center; }

/* IE WARNING */
#oldIeWarning {
    position: relative;
    z-index: 1000000;
    width: 100%;
    background-color: red;
    display: none;
    text-align: center;
    color: white; }

.warning_content {
    width: 100%;
    padding: .5em 10%; }

.warning_content a {
    color: white;
    font-weight: bold; }

#close_ie_warning {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20px;
    background: url(/content/images/cancel.png) no-repeat 0 50%;
    text-indent: -100000px; }

/* CONTENT IMAGES */
.portrait_left_small,
.portrait_right_small,
.portrait_left_medium,
.portrait_right_medium,
.portrait_left_large,
.portrait_right_large {
    display: block;
    width: 50%;
    margin: 10px auto; }

.landscape_left_small,
.landscape_right_small,
.landscape_left_medium,
.landscape_right_medium,
.landscape_left_large,
.landscape_right_large {
    display: block;
    width: 80%;
    margin: 10px auto; }

.full_width {
    display: block;
    width: 100%;
    margin: 10px 0; }

/* SUBPAGE STYLES */
.subpage .main_content {
    margin-top: 5%; }
.subpage .news .spa_news_category_container:first-child {
    margin-bottom: 1em; }
.subpage .news .spa_news_category_link {
    margin-top: 0; }
.subpage .welcome img {
    display: inline-block; }

.ecomm_signup.not_mobile {
    display: none; }

#slider.mast {
    overflow: hidden; }
#slider.mast img {
    margin-top: -5%;
    margin-bottom: -5%; }

/* MESSAGING */
.ecomm_description {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2em; }

.smsnote {
    display: block;
    margin-top: -1em;
    margin-bottom: 1em; }

.message_profile_preference {
    font-size: 1em;
    margin-top: 2em; }
.message_profile_preference td {
    font-size: 1em; }
.message_profile_preference table {
    margin-top: .75em; }
.message_profile_preference label {
    padding-left: .25em; }

.message_profile_header {
    border-bottom: 1px solid #bfbfbf;
    color: #0053a0; }

.customer_login {
    *zoom: 1; }
.customer_login:before, .customer_login:after {
    display: table;
    content: ""; }
.customer_login:after {
    clear: both; }

#btnNew {
    margin-top: 20px;
    padding: 15px;
    background: #0053a0;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwM2U3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUzYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0053a0), color-stop(50%, #003e78), color-stop(100%, #0053a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0053a0', endColorstr='#0053a0',GradientType=0 );
    /* IE6-8 */ }
#btnNew:hover {
    background: #0053a0;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwM2U3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUzYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0053a0), color-stop(50%, #003e78), color-stop(100%, #0053a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0053a0 0%, #003e78 50%, #0053a0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0053a0', endColorstr='#0053a0',GradientType=0 );
    /* IE6-8 */ }

/* NEWS */
.spa_news_story_date {
    display: block;
    margin-bottom: -.5em;
    margin-top: -.5em;
    font-style: italic;
    font-size: .875em; }

#UPNewsArchive .spa_news_category_container {
    margin-top: 1em; }
#UPNewsArchive .spa_news_category_title {
    text-transform: uppercase;
    font-weight: bold; }
#UPNewsArchive .spa_news_category_date {
    font-style: italic;
    font-size: .875em;
    margin: .625em 0; }

.authorbox {
    border: 1px solid #dddddd;
    padding: 1em; }
.authorbox table {
    margin-bottom: 0; }
.authorbox td {
    display: block;
    text-align: center;
    padding-left: 0; }
.authorbox td:nth-child(2) {
    vertical-align: bottom; }
.authorbox img {
    width: 105px; }

/* LOGIN */
.remember_me {
    display: none; }

.login_panel input[type='text'],
.login_panel input[type='password'] {
    width: 100%;
    max-width: 400px; }

/* WEATHER */
#DtnLocation {
    text-align: center;
    line-height: 1em;
    margin-top: 15px;
    margin-bottom: 15px; }

#DtnWeather sup {
    top: 9px; }

#DtnCurrentConditions table tbody tr td:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold; }

#DtnCurrentConditions table td, #DtnForecast table td {
    padding-bottom: 6px; }

#DtnWeather td {
    font-size: 0.8em; }

#DtnRadar {
    text-align: center;
    margin-bottom: 40px; }

#DtnRadar img {
    margin: auto; }

#DtnGraphic {
    width: 75%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: bold; }

#DtnForecastTitle {
    text-align: center;
    clear: both; }

#DtnForecast table {
    display: none; }

.mobileForecastDay {
    margin-bottom: 20px; }
.mobileForecastDay .currentCondition {
    text-align: center;
    margin-bottom: 10px; }
.mobileForecastDay .currentCondition img {
    display: inline-block;
    margin: 0px;
    margin-right: 15px;
    vertical-align: middle; }
.mobileForecastDay span {
    display: block; }
.mobileForecastDay span strong {
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 6px; }

.DtnZipCodeChange {
    max-width: 300px; }

#txtZip {
    max-width: 200px;
    margin-bottom: 0; }

#cmdZip {
    padding: .5em 1em; }

/* PERSONNEL */
.profiles_wrapper {
    text-align: center; }

.individualProfileDivStyle {
    float: none !important;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin: 0 1em 2em 1em;
    padding: 10px;
    border: 1px solid #7ca6cc;
    font-size: .75em;
    overflow-x: hidden;
    text-align: left;
    vertical-align: top; }
.individualProfileDivStyle .personnelNameCell a {
    font-weight: bold;
    font-size: 1.333333em; }

@media only screen and (min-width: 48em) {
    header.main {
        padding: 0 5%; }
    header.main nav.main {
        position: absolute;
        display: block;
        top: 40px;
        right: 5%;
        z-index: 100; }
    header.main h1, header.main .spa_news_story h2, .spa_news_story header.main h2, header.main .spa_news_story #DtnLocation, .spa_news_story header.main #DtnLocation, header.main .spa_news_category_header_span, header.main #DtnWeather #DtnCurrentTitle, #DtnWeather header.main #DtnCurrentTitle {
        display: inline-block; }
    header.main h1 img, header.main .spa_news_story h2 img, .spa_news_story header.main h2 img, header.main .spa_news_story #DtnLocation img, .spa_news_story header.main #DtnLocation img, header.main .spa_news_category_header_span img, header.main #DtnWeather #DtnCurrentTitle img, #DtnWeather header.main #DtnCurrentTitle img {
        width: 175px;
        margin: 15px 0 -15px 0; }

    nav.quicklinks {
        display: block;
        position: absolute;
        right: 5%;
        top: 15px;
        font-size: .625em; }

    /* MENU STYLES */
    .sf-menu > li {
        display: inline-block;
        list-style: none; }
    .sf-menu > li > a {
        color: #7f7f7f; }
    .sf-menu > li > span {
        background: url(/content/images/menu_bg.png) no-repeat right 48%; }
    .sf-menu > li:hover, .sf-menu > li.sfHover {
        outline: 0; }
    .sf-menu > li:hover > span, .sf-menu > li:hover > a, .sf-menu > li.sfHover > span, .sf-menu > li.sfHover > a {
        background: #7ca6cc;
        text-decoration: none;
        color: white; }
    .sf-menu li {
        position: relative; }
    .sf-menu li:hover ul, .sf-menu li.sfHover ul {
        left: 0;
        top: 100%;
        /* match top ul list item height */
        z-index: 99; }
    .sf-menu a,
    .sf-menu span {
        font-size: .675em;
        padding: .75em .55em;
        display: block; }
    .sf-menu .sfHover > a, .sf-menu .sfHover > span {
        background: #7ca6cc;
        text-decoration: underline;
        color: white; }
    .sf-menu span {
        cursor: default; }
    .sf-menu span:hover {
        color: white; }

    .sf-submenu {
        position: absolute;
        top: -999em;
        width: 100%;
        padding-left: 0; }
    .sf-submenu li {
        width: 100%;
        background: #0053a0;
        background: rgba(0, 83, 160, 0.75);
        list-style: none;
        border-bottom: 2px solid #7ca6cc; }
    .sf-submenu li:last-child {
        border-bottom: 0; }
    .sf-submenu li:hover {
        background: #0053a0;
        background: rgba(0, 83, 160, 0.95); }
    .sf-submenu li a {
        display: block;
        width: 100%;
        color: white;
        text-align: center; }

    body:before {
        content: ' ';
        display: block;
        height: 1px;
        margin-top: -1px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4); }

    .mobile_menu_button {
        display: none; }

    #slider {
        -webkit-box-shadow: 0 1px 10px black;
        -moz-box-shadow: 0 1px 10px black;
        box-shadow: 0 1px 10px black;
        overflow: hidden; }
    #slider article {
        position: absolute;
        top: 0; }
    #slider article aside {
        position: absolute;
        left: 0;
        bottom: 20px;
        padding: 10px 40px 10px 40px;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: .875em; }

    .jshowoff-slidelinks {
        display: block;
        position: absolute;
        right: 0;
        bottom: 20px;
        z-index: 1000; }
    .jshowoff-slidelinks a {
        display: inline-block;
        height: 40px;
        width: 80px;
        margin-right: 15px;
        border: 3px solid #bfbfbf;
        text-align: center;
        overflow: hidden;
        background-color: black; }
    .jshowoff-slidelinks a img {
        width: 100px;
        height: 100%;
        -webkit-opacity: 0.75;
        -moz-opacity: 0.75;
        opacity: 0.75;
        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease; }
    .jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a:hover {
        border-color: white; }
    .jshowoff-slidelinks a.jshowoff-active img, .jshowoff-slidelinks a:hover img {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1; }

    .mission {
        margin: 1.5em 0;
        padding: 1em; }

    .main_content {
        padding: 0 5%; }

    .welcome {
        border: 1px solid #c5d1dc; }

    .news {
        *zoom: 1;
        padding: 0;
        border: 1px solid #c5d1dc; }
    .news:before, .news:after {
        display: table;
        content: ""; }
    .news:after {
        clear: both; }
    .news h2, .news #DtnLocation {
        display: none; }
    .news #openTabs {
        display: block !important;
        float: none;
        width: 100%;
        margin-top: 0; }
    .news #openTabs span {
        display: none; }
    .news nav.newstabs {
        position: relative;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        border: 0; }
    .news nav.newstabs a {
        display: inline-block;
        width: 25%;
        font-family: "ff-meta-serif-web-pro", Cambria, Georgia, Times, "Times New Roman", serif;
        text-align: center;
        padding: 20px 0 13px 0;
        border-bottom: 7px solid #0053a0;
        text-decoration: none; }
    .news nav.newstabs a:hover {
        text-decoration: none; }
    .news nav.newstabs a:first-child, .news nav.newstabs a:last-child {
        padding: 20px 0 13px 0; }
    .news nav.newstabs a.selected_tab {
        background: #0053a0 url(/content/images/selected_tab.png) no-repeat bottom center;
        color: white;
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 0; }
    .news > section {
        padding: 5%; }
    .news .spa_news_stories_container {
        margin-bottom: 0; }
    .news .spa_news_category_container {
        float: left;
        width: 47.5%; }
    .news .spa_news_category_container:first-of-type {
        margin-right: 5%; }

    .testimonial,
    .ecomm_signup.mobile {
        display: none; }

    #testimonial_ecomm_wrapper,
    .subpage {
        display: block;
        padding: 0;
        margin-bottom: 5%;
        background: transparent; }
    #testimonial_ecomm_wrapper .testimonial,
    #testimonial_ecomm_wrapper .ecomm_signup,
    .subpage .testimonial,
    .subpage .ecomm_signup {
        width: 47.5%;
        height: 100%;
        padding: 5%; }
    #testimonial_ecomm_wrapper .testimonial,
    .subpage .testimonial {
        width: 52.5%;
        border-right: 5%;
        padding: 0;
        background-color: transparent; }
    #testimonial_ecomm_wrapper .testimonial > div,
    .subpage .testimonial > div {
        padding: 10%;
        margin-right: 10%;
        background: white;
        border: 1px solid #c5d1dc; }
    #testimonial_ecomm_wrapper .ecomm_signup a,
    .subpage .ecomm_signup a {
        display: block;
        background: url(/content/images/ecomm-smaller.png) no-repeat right top; }
    #testimonial_ecomm_wrapper .ecomm_signup aside,
    .subpage .ecomm_signup aside {
        margin-bottom: .75em; }
    #testimonial_ecomm_wrapper .ecomm_signup .extended_signup,
    .subpage .ecomm_signup .extended_signup {
        display: block; }
    #testimonial_ecomm_wrapper .ecomm_signup div,
    .subpage .ecomm_signup div {
        float: left;
        width: 55%; }
    #testimonial_ecomm_wrapper .ecomm_signup div:first-child,
    .subpage .ecomm_signup div:first-child {
        width: 40%;
        margin-right: 5%; }
    #testimonial_ecomm_wrapper .ecomm_signup label,
    .subpage .ecomm_signup label {
        color: white;
        font-size: .875em; }
    #testimonial_ecomm_wrapper .ecomm_signup input[type='text'],
    .subpage .ecomm_signup input[type='text'] {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
    #testimonial_ecomm_wrapper .ecomm_signup input[type='button'],
    .subpage .ecomm_signup input[type='button'] {
        display: block;
        margin: 0 auto;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: white;
        color: #0053a0;
        font-size: .875em;
        padding: .25em 1em; }

    #testimonial_ecomm_wrapper {
        *zoom: 1; }
    #testimonial_ecomm_wrapper:before, #testimonial_ecomm_wrapper:after {
        display: table;
        content: ""; }
    #testimonial_ecomm_wrapper:after {
        clear: both; }
    #testimonial_ecomm_wrapper .testimonial,
    #testimonial_ecomm_wrapper .ecomm_signup.not_mobile {
        display: block;
        float: left; }

    footer.main nav {
        width: auto;
        margin-bottom: 1em;
        text-align: center; }
    footer.main nav div {
        display: inline-block; }
    footer.main nav div:last-child {
        display: none; }
    footer.main nav a {
        width: 70px;
        padding-top: 75px;
        text-indent: 0;
        text-align: center;
        background-position: 50% top; }

    /* CONTENT IMAGES */
    .portrait_left_small,
    .landscape_left_small,
    .portrait_left_medium,
    .landscape_left_medium,
    .portrait_left_large,
    .landscape_left_large {
        float: left;
        margin: 0 10px 10px 0; }

    .portrait_right_small,
    .landscape_right_small,
    .portrait_right_medium,
    .landscape_right_medium,
    .portrait_right_large,
    .landscape_right_large {
        float: right;
        margin: 0 0 10px 10px; }

    .portrait_right_small,
    .portrait_left_small,
    .landscape_right_small,
    .landscape_left_small {
        width: 25%; }

    .portrait_right_medium,
    .portrait_left_medium,
    .landscape_right_medium,
    .landscape_left_medium {
        width: 50%; }

    .portrait_right_large,
    .portrait_left_large,
    .landscape_right_large,
    .landscape_left_large {
        width: 75%; }

    /* SUBPAGE STYLES */
    .subpage {
        display: block;
        margin-bottom: 0; }
    .subpage .news {
        position: relative;
        width: 47.5%; }
    .subpage .news .news_header::before, .subpage .news .news_header::after {
        display: none; }
    .subpage .news h2, .subpage .news #DtnLocation {
        float: none;
        display: block;
        margin-bottom: 0;
        padding: 5% 0 0 5%; }
    .subpage .news #openTabs {
        position: absolute;
        display: inline-block;
        width: auto;
        top: 3.5%;
        right: 5%; }
    .subpage .news #openTabs span {
        display: inline-block; }
    .subpage .news nav.subpage_newstabs {
        top: 1em;
        right: 8%; }
    .subpage .news .spa_news_category_container {
        float: none;
        width: 100%;
        margin-right: 0; }
    .subpage .main_content .welcome {
        display: block; }
    .subpage .ecomm_signup.mobile {
        display: block;
        float: right;
        width: 47.5%;
        padding: 2.5%; }
    .subpage .ecomm_signup.mobile .extended_signup {
        display: block; }

    .spa_news_category_div {
        margin-bottom: -2em; }

    #slider.mast img {
        margin-top: 0;
        margin-bottom: -10%; }

    /* MESSAGING PAGE */
    .login_wrapper {
        float: left; }

    #btnNew {
        float: left; }

    .messaging_wrapper {
        *zoom: 1; }
    .messaging_wrapper:before, .messaging_wrapper:after {
        display: table;
        content: ""; }
    .messaging_wrapper:after {
        clear: both; }

    #UPMessaging {
        float: left;
        display: block;
        width: 47.5%; }

    #prefs_wrapper {
        float: right;
        width: 47.5%; }

    /* NEWS */
    .authorbox table {
        width: auto; }
    .authorbox td {
        display: table-cell;
        text-align: left; }
    .authorbox td:first-child {
        padding-right: 15px; }
    .authorbox td:nth-child(2) {
        vertical-align: bottom; }
    .authorbox img {
        margin-bottom: 0 !important; }

    /* DTN WEATHER */
    #DtnCurrentConditions, #DtnRadar {
        float: left;
        width: 50%; }

    #DtnGraphic {
        width: 25%;
        margin: auto;
        margin-bottom: 25px; }

    #DtnForecast table {
        display: block; }
    #DtnForecast table tbody {
        display: block;
        width: 100%; }
    #DtnForecast table tbody tr {
        width: 100%; }
    #DtnForecast table tbody td {
        text-align: center; }
    #DtnForecast table tbody td:nth-child(1) {
        font-weight: bold;
        text-align: left; }
    #DtnForecast .DtnForecastDays td {
        font-weight: bold; }
    #DtnForecast .mobileForecastDay {
        display: none; }

    /* PERSONNEL */
    .profiles_wrapper {
        text-align: left;
        padding-left: -moz-calc((100% - 460px) / 2);
        padding-left: -webkit-calc((100% - 460px) / 2);
        padding-left: calc((100% - 460px) / 2); }

    .oldie .profiles_wrapper {
        text-align: center; }

    .individualProfileDivStyle {
        max-width: 200px; } }
@media only screen and (min-width: 54em) {
    header.main nav.main .sf-menu a,
    header.main nav.main .sf-menu span {
        padding: .75em 1em; } }
@media only screen and (min-width: 62em) {
    body {
        font-size: 100%; }

    header.main {
        padding: 0 3%; }
    header.main h1 img, header.main .spa_news_story h2 img, .spa_news_story header.main h2 img, header.main .spa_news_story #DtnLocation img, .spa_news_story header.main #DtnLocation img, header.main .spa_news_category_header_span img, header.main #DtnWeather #DtnCurrentTitle img, #DtnWeather header.main #DtnCurrentTitle img {
        width: 300px; }
    header.main nav.main {
        right: 3%;
        top: 88px; }
    header.main nav.main .sf-menu a,
    header.main nav.main .sf-menu span {
        font-size: .9125em;
        padding: .5em .75em; }

    nav.quicklinks {
        font-size: .875em;
        right: 3%; }

    #slider article aside {
        font-size: 1.375em; }

    .jshowoff-slidelinks a {
        height: 46px;
        width: 100px;
        margin-right: 30px; }
    .jshowoff-slidelinks a img {
        width: 100px; }

    .mission {
        font-size: 1.375em;
        margin: 3% 0; }

    .main_content {
        *zoom: 1;
        padding: 0 3%; }
    .main_content:before, .main_content:after {
        display: table;
        content: ""; }
    .main_content:after {
        clear: both; }
    .main_content .welcome,
    .main_content .testimonial {
        padding: 3%; }
    .main_content .welcome_testimonial_wrapper {
        display: table;
        margin-bottom: 3%; }
    .main_content .welcome {
        padding-top: 3%;
        display: table-cell;
        width: 63.666666666667%; }
    .main_content .testimonial {
        display: table-cell;
        width: 36.3333333333333%;
        padding: 0;
        background: transparent;
        vertical-align: middle; }
    .main_content .testimonial > div {
        *zoom: 1;
        display: block;
        width: 92%;
        height: 100%;
        margin-left: 8%;
        padding: 8%;
        background: white;
        border: 1px solid #c5d1dc; }
    .main_content .testimonial > div:before, .main_content .testimonial > div:after {
        display: table;
        content: ""; }
    .main_content .testimonial > div:after {
        clear: both; }
    .main_content .news {
        float: left;
        width: 63.6666666667%;
        margin-right: 3%;
        margin-bottom: 3%; }
    .main_content .news nav.newstabs {
        font-size: 1.125em; }

    #testimonial_ecomm_wrapper {
        float: left;
        width: 33.33333333333333%; }
    #testimonial_ecomm_wrapper .testimonial {
        display: none; }
    #testimonial_ecomm_wrapper .ecomm_signup {
        width: 100%;
        padding: 8%; }
    #testimonial_ecomm_wrapper .ecomm_signup aside {
        font-size: .875em; }

    footer.main {
        padding: 2%; }

    /* SUBPAGE STYLES */
    .subpage .main_content {
        margin-top: 3%;
        margin-bottom: 3%; }
    .subpage .main_content .welcome {
        float: left;
        width: 65.6666666666667%; }
    .subpage .main_content .sidebar {
        float: right;
        width: 31.333333333333%; }
    .subpage .main_content .sidebar .news {
        float: none;
        width: 100%;
        margin-bottom: 10%; }
    .subpage .main_content .sidebar .ecomm_signup {
        display: none;
        float: none;
        width: 100%;
        padding: 5%; }
    .subpage .main_content .sidebar .ecomm_signup.not_mobile {
        display: block; }

    .profiles_wrapper {
        text-align: left;
        padding-left: -moz-calc((100% - 690px) / 2);
        padding-left: -webkit-calc((100% - 690px) / 2);
        padding-left: calc((100% - 690px) / 2); }

    .individualProfileDivStyle {
        width: -moz-calc(33.333333333333% - 30px);
        width: -webkit-calc(33.333333333333% - 30px);
        width: calc(33.333333333333% - 30px); } }
